dashscope
deepdiff
einops
flask==2.3.2
git+https://github.com/brean/python-pathfinding.git
git+https://github.com/ChaoningZhang/MobileSAM.git
git+https://github.com/IDEA-Research/GroundingDINO.git
git+https://github.com/naokiyokoyama/depth_camera_filtering
git+https://github.com/naokiyokoyama/frontier_exploration.git
gymnasium==0.28.1
httpcore==1.0.5
httpx==0.25.2
matplotlib==3.8.1
open3d==0.18.0
openai==1.29.0
opencv-python==4.5.5.64
openpyxl==3.1.2
pandas==2.2.2
peft
psutil==5.7.2
salesforce-lavis==1.0.2
scikit-image
scikit-learn==1.4.2
scipy==1.10.1
seaborn==0.12.2
shapely
sniffio==1.3.0
spacy==3.7.4
tiktoken
timm
torch
tqdm==4.66.4
transformers
usd-core==23.11
